{{> header }}

<div class="container "  style="height: 100%;">
<div class="row">
    <form class="col s12" method="POST" action="/create" enctype="multipart/form-data">
        <div class="row">

                <div class="input-field col s6">
                    <input type="text" name="productname">
                    <label for="productname">Product Name</label>

                </div>



                <div class=" col ">
                    <label ><i class="material-icons large image-field">add_a_photo</i>  <input type="file" class="image-upload" name="image" />
                    </label>

                </div>


        </div>

        <div class="row">
            <div class="input-field col s12">

                <textarea id="description" class="materialize-textarea" name="description"></textarea>
                <label for="description">Description</label>


             </div>
        </div>

            <div class="row">

                <div class="input-field col s6">

                    <input type="number" name="quantity">
                    <label for="quantity"> Quantity: </label>

                    </div>

                <div class=" col s6">
                <label for="category">Category</label>
                <select name="category" id="category-select">

                    <option value="books">Books</option>

                    <option value="computers">Computers</option>

                    <option value="electronics">Electronics</option>
                    <option value="men-f">Men's Fashion</option>
                    <option value="women-f">Women's Fashion</option>
                    <option value="movies-tv">Movies & Television</option>
                    <option value="software">Software</option>
                    <option value="beauty">Beauty & Personal Care</option>
                    <option value="games">Video Games</option>

                </select>
                </div>
            </div>



        <div class="row">
            <div class="input-field col s12">

                <input type="text" id="highlight" class="materialize-textarea" name="highlight" placeholder="Separate Highlights using ';'">
                <label for="highlight">Highlights</label>


            </div>
        </div>
            <div class="row">

                    <div class="col s8">
                        <button class="btn waves-effect waves-light" type="submit" name="action"> Add Item
                            <i class="material-icons right">send</i>
                        </button>
                     </div>
            </div>
    </form>
</div>
</div>




{{> footer-end }}