body {
  margin: 0; }
#type-select{
  display: unset !important;

}
#category-select{
  display: unset !important;

}


.image-upload {
  display: none;
}

.image-field{
  cursor: pointer;
}


.a {
  list-style-type: circle !important;
}


.order{
  background-color: white;
  position: fixed;
  bottom: 0px;
  width:100%;
  margin: 0px !important;
  z-index: 1;
}
.orderbut{
  position: absolute !important;
  right:10px;
  margin-top: 15px;

}

.end{
  margin: 1in;
}